<!DOCTYPE html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults ,"bootstrap"  %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
  <li class="active">
    <a href="<%= root_path %>">Home</a>
  </li>
  <li><%= link_to "Posts", posts_path %></li>
  <li><a href="#">Comments</a></li>
</ul>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
